/* Global */
body{
  padding-top: 70px;
}
.ng-cloak{
  display: none;
}

/* Navbar */
.dropdown-menu input{
  margin-bottom: 10px;
}

/* Modal */
.modal { 
  display: block;
}
.modal-dialog {
  width: inherit;
  max-width: 1170px;
}

/* Form validation */
.form-error{
  color: gray;
  font-style: italic;
  margin-top: 5px;
}
.css-form input.ng-invalid.ng-dirty {
  border-color: #d43f3a;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(212, 63, 58, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(212, 63, 58, 0.6);
}
.css-form input.ng-valid.ng-dirty {
  border-color: #4cae4c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76, 174, 76, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(76, 174, 76, 0.6);
}

/* Smart Table */
.pagination {
  text-align: center;
}
.sort-ascent:before {
  content: "\25B4";
}
.sort-descent:before {
  content: "\25BE";
}
.loading {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* Custom dialog/modal headers */
.dialog-header-error {
  background-color: #d2322d;
}
.dialog-header-wait {
  background-color: #428bca;
}
.dialog-header-notify {
  background-color: #eeeeee;
}
.dialog-header-confirm {
  background-color: #333333;
}
.dialog-header-error span,
.dialog-header-error h4,
.dialog-header-wait span,
.dialog-header-wait h4,
.dialog-header-confirm span,
.dialog-header-confirm h4 {
  color: #ffffff;
}

/* Ease Display */
.pad {
  padding: 25px;
}