<!-- To make sure all alerts in the session are displayed on home page -->
<alert ng-repeat="alert in session.alerts" class="my-repeat-animation" type="alert.type" close="session.closeAlert($index)">{{alert.msg}}</alert>
<!-- Page Start -->
<div class="row">
  <div class="col-md-12">
    <button type="submit" class="btn btn-primary pull-right" ng-click="createUser()">Create User</button>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th>Last Updated</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users">
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.updatedAt }}</td>
          <td>
            <button class="btn btn-default" ng-click="editUser(user.id)">Edit User</button>
          </td>
          <td>
            <button class="btn btn-danger" ng-click="deleteUser(user.id)">Delete User</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>